<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <meta name="description" content="">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="static/css/signin.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <form action="/signin" method="post">
        {% csrf_token %}
            <h1> GLUG </h1>
            <h3> Log in to your account</h3>
            <div class="input-box">
                <input type="text" id="username" name="username" placeholder="Username" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input type="password" id="pass1" name="pass1" placeholder="Password" required>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> Remember me </label>
                <a href="#"> Forgot Password? </a>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Don't have a account? <a href="signup">Register</a></p>
            </div>
        </form>
    </div>

    <script>
        // JavaScript for responsiveness
        window.addEventListener('resize', function() {
            // Example: Adjusting form layout based on window width
            adjustFormLayout();
        });

        function adjustFormLayout() {
            var form = document.getElementById('signinForm');
            var wrapper = document.querySelector('.wrapper');
            if (window.innerWidth < 768) {
                wrapper.style.width = '60%';
                wrapper.style.margin = 'auto';
            } else {
                // Reset styles if window width is greater than 768px
                wrapper.style.width = 'initial';
                wrapper.style.margin = 'initial';
            }
        }
        
        // Call adjustFormLayout on initial page load
        adjustFormLayout();
    </script>

</body>
</html>
